@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #e2e8f0;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  width: 100%;
}
